{
  "openapi": "3.1.1",
  "info": {
    "title": "UniCAS Console and Platform Access API Proposal",
    "version": "0.1.0-proposal",
    "summary": "Discussion contract for platform access and affected App administration workflows.",
    "description": "Proposal subset only; existing clients and server contracts must migrate together. Read projections own complete resources; writes return minimal receipts or 204 with the mutated resource ETag. Timestamps are Unix epoch milliseconds. See ApiDesign.md for wire conventions and invitation/session rules. This document does not replace the generated UniCAS App Administrator API.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://console.unicas.work",
      "description": "Production administrator origin"
    }
  ],
  "tags": [
    { "name": "Identity", "description": "Current session and effective Console authority." },
    { "name": "Apps", "description": "App creation and reversible operational status." },
    { "name": "App Invitations", "description": "App administrator invitation lifecycle." },
    { "name": "OAuth Issuers", "description": "Managed and production App issuer configuration." },
    { "name": "Platform Access", "description": "Platform Principal authority and global access state." },
    { "name": "Platform Invitations", "description": "Invitations that grant platform authority." },
    { "name": "Platform Audit", "description": "Append-only platform authorization history." }
  ],
  "security": [
    { "adminSession": [] }
  ],
  "paths": {
    "/admin/me": {
      "get": {
        "operationId": "getCurrentPrincipal",
        "summary": "Read the current Console session",
        "description": "Returns immutable Principal identity, display Profile, effective platform access, and visible App memberships.",
        "tags": ["Identity"],
        "responses": {
          "200": { "$ref": "#/components/responses/CurrentSession" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAccessRequired" },
          "503": { "$ref": "#/components/responses/ServiceUnavailable" }
        }
      }
    },
    "/admin/apps": {
      "post": {
        "operationId": "createApp",
        "summary": "Create an App",
        "description": "Requires current apps.create authority. Creates the App and grants the caller its first equal-authority App membership.",
        "tags": ["Apps"],
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAppRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "App created",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateAppResponse" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppCreationAuthorityRequired" },
          "409": { "$ref": "#/components/responses/IdempotencyConflict" },
          "503": { "$ref": "#/components/responses/ServiceUnavailable" }
        }
      }
    },
    "/admin/apps/{appId}": {
      "patch": {
        "operationId": "patchApp",
        "summary": "Update, suspend, or restore an App",
        "description": "Conditionally updates App metadata or status. Suspension blocks every Space data-plane operation while preserving App control-plane recovery access.",
        "tags": ["Apps"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" },
          { "$ref": "#/components/parameters/IfMatch" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PatchAppRequest" }
            }
          }
        },
        "responses": {
          "204": { "$ref": "#/components/responses/RevisionUpdated" },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "412": { "$ref": "#/components/responses/RevisionMismatch" },
          "428": { "$ref": "#/components/responses/PreconditionRequired" }
        }
      }
    },
    "/admin/apps/{appId}/member-invitations": {
      "get": {
        "operationId": "listAppMemberInvitations",
        "summary": "List App member invitations",
        "description": "Lists invitation records without bearer tokens or accept URLs. Effective expiry is reconciled consistently with acceptance and revocation.",
        "tags": ["App Invitations"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" },
          { "$ref": "#/components/parameters/InvitationStatus" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" }
        ],
        "responses": {
          "200": {
            "description": "Snapshot-bound invitation page",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AppMemberInvitationPage" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createAppMemberInvitation",
        "summary": "Create an App member invitation",
        "description": "Creates a short-lived single-use invitation for equal App administrator membership. emailConstraint remains optional; only constrained invitations can admit an otherwise unadmitted Principal through the login continuation.",
        "tags": ["App Invitations"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAppMemberInvitationRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation created; acceptUrl contains the only returned bearer token",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateInvitationResponse" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "409": { "$ref": "#/components/responses/IdempotencyConflict" }
        }
      }
    },
    "/admin/apps/{appId}/member-invitations/{invitationId}": {
      "delete": {
        "operationId": "revokeAppMemberInvitation",
        "summary": "Revoke an App member invitation",
        "description": "Transitions pending unexpired state to revoked. Repeating with the current revoked ETag is a 204 no-op; a stale ETag is always 412. Accepted or expired state returns 409. Retains the record and audit history.",
        "tags": ["App Invitations"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" },
          { "$ref": "#/components/parameters/InvitationId" },
          { "$ref": "#/components/parameters/IfMatch" }
        ],
        "responses": {
          "204": { "$ref": "#/components/responses/RevisionUpdated" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/InvitationNotPending" },
          "412": { "$ref": "#/components/responses/RevisionMismatch" },
          "428": { "$ref": "#/components/responses/PreconditionRequired" }
        }
      }
    },
    "/admin/member-invitations/{token}/accept": {
      "post": {
        "operationId": "acceptAppMemberInvitation",
        "summary": "Accept an App member invitation",
        "description": "Consumes the invitation for the matching token-bound Google OIDC session, creates App membership, and rotates the session. An unconstrained invitation requires prior full admission; a constrained invitation additionally checks verified email. Returns only the App identifier for navigation.",
        "tags": ["App Invitations"],
        "security": [{ "invitationSession": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/InvitationToken" }
        ],
        "responses": {
          "200": {
            "description": "Invitation accepted and session rotated; only the destination App identifier is returned",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AcceptAppMemberInvitationResponse" } } }
          },
          "403": { "$ref": "#/components/responses/InvitationSessionRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/InvitationNotPending" }
        }
      }
    },
    "/admin/apps/{appId}/oauth-issuer/inspections": {
      "post": {
        "operationId": "inspectAppOAuthIssuer",
        "summary": "Inspect a production OAuth issuer",
        "description": "Creates a candidate inspection without changing the currently active production issuer.",
        "tags": ["OAuth Issuers"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InspectOAuthIssuerRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Candidate issuer inspected",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/InspectOAuthIssuerResponse" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "409": { "$ref": "#/components/responses/IssuerConflict" },
          "503": { "$ref": "#/components/responses/ServiceUnavailable" }
        }
      }
    },
    "/admin/apps/{appId}/oauth-issuer": {
      "put": {
        "operationId": "activateOrReplaceAppOAuthIssuer",
        "summary": "Activate or replace the production OAuth issuer",
        "description": "Atomically selects a verified candidate. Initial activation requires If-None-Match: *; replacement requires the current external issuer ETag in If-Match. Supply exactly one: neither is 428, both or malformed input is 400, a failed precondition is 412. Never use the App or inspection revision. The old issuer remains authoritative until commit.",
        "tags": ["OAuth Issuers"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" },
          { "$ref": "#/components/parameters/IssuerIfMatch" },
          { "$ref": "#/components/parameters/IssuerIfNoneMatch" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ActivateOAuthIssuerRequest" }
            }
          }
        },
        "responses": {
          "204": { "$ref": "#/components/responses/RevisionUpdated" },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "409": { "$ref": "#/components/responses/IssuerConflict" },
          "412": { "$ref": "#/components/responses/RevisionMismatch" },
          "428": { "$ref": "#/components/responses/PreconditionRequired" }
        }
      }
    },
    "/admin/apps/{appId}/managed-issuer": {
      "patch": {
        "operationId": "patchAppManagedIssuer",
        "summary": "Activate or disable the managed issuer",
        "description": "Controls new managed capability issuance independently from the production issuer.",
        "tags": ["OAuth Issuers"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" },
          { "$ref": "#/components/parameters/IfMatch" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PatchManagedIssuerRequest" }
            }
          }
        },
        "responses": {
          "204": { "$ref": "#/components/responses/RevisionUpdated" },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "412": { "$ref": "#/components/responses/RevisionMismatch" },
          "428": { "$ref": "#/components/responses/PreconditionRequired" }
        }
      }
    },
    "/admin/platform/access-summary": {
      "get": {
        "operationId": "getPlatformAccessSummary",
        "summary": "Read platform access counts",
        "tags": ["Platform Access"],
        "responses": {
          "200": {
            "description": "Current aggregate counts",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformAccessSummary" } } }
          },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" },
          "503": { "$ref": "#/components/responses/ServiceUnavailable" }
        }
      }
    },
    "/admin/platform/principals": {
      "get": {
        "operationId": "listPlatformPrincipals",
        "summary": "List platform Principals",
        "description": "Searches the platform access projection over immutable Principal identity, Profile metadata, authority, and App membership counts.",
        "tags": ["Platform Access"],
        "parameters": [
          { "name": "query", "in": "query", "schema": { "type": "string" }, "description": "Display name, email, or subject search." },
          { "name": "effectiveAccess", "in": "query", "schema": { "$ref": "#/components/schemas/EffectiveAccess" } },
          { "name": "authority", "in": "query", "schema": { "oneOf": [{ "$ref": "#/components/schemas/PlatformAuthority" }, { "type": "string", "const": "none" }] } },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" }
        ],
        "responses": {
          "200": {
            "description": "Snapshot-bound Principal page",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformPrincipalPage" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" }
        }
      }
    },
    "/admin/platform/principals/{principalRef}": {
      "get": {
        "operationId": "getPlatformPrincipal",
        "summary": "Read one platform Principal",
        "tags": ["Platform Access"],
        "parameters": [
          { "$ref": "#/components/parameters/PrincipalRef" }
        ],
        "responses": {
          "200": {
            "description": "Principal detail with read-only App memberships. revision belongs only to access state; this composite projection has no ETag.",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformPrincipalDetail" } } }
          },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/admin/platform/principals/{principalRef}/access": {
      "get": {
        "operationId": "getPlatformPrincipalAccess",
        "summary": "Read versioned platform access state",
        "description": "Returns only the access resource and its strong ETag, excluding Profile and membership projections that change independently.",
        "tags": ["Platform Access"],
        "parameters": [
          { "$ref": "#/components/parameters/PrincipalRef" }
        ],
        "responses": {
          "200": {
            "description": "Versioned access state",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformAccessState" } } }
          },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "operationId": "patchPlatformPrincipalAccess",
        "summary": "Change platform authority or access status",
        "description": "Atomically replaces supplied access fields. Blocking overrides all platform authority and App membership admission without deleting them.",
        "tags": ["Platform Access"],
        "parameters": [
          { "$ref": "#/components/parameters/PrincipalRef" },
          { "$ref": "#/components/parameters/IfMatch" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PatchPlatformAccessRequest" }
            }
          }
        },
        "responses": {
          "204": { "$ref": "#/components/responses/RevisionUpdated" },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": {
            "description": "The mutation would remove the final Platform Admin or block the caller",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "412": { "$ref": "#/components/responses/RevisionMismatch" },
          "428": { "$ref": "#/components/responses/PreconditionRequired" }
        }
      }
    },
    "/admin/platform/invitations": {
      "get": {
        "operationId": "listPlatformInvitations",
        "summary": "List platform invitations",
        "tags": ["Platform Invitations"],
        "parameters": [
          { "name": "query", "in": "query", "schema": { "type": "string" }, "description": "Normalized email search." },
          { "$ref": "#/components/parameters/InvitationStatus" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" }
        ],
        "responses": {
          "200": {
            "description": "Snapshot-bound invitation page without bearer tokens",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformInvitationPage" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" }
        }
      },
      "post": {
        "operationId": "createPlatformInvitation",
        "summary": "Invite an internal developer",
        "description": "Creates a short-lived verified-email invitation carrying one or more platform authorities.",
        "tags": ["Platform Invitations"],
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePlatformInvitationRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation created; acceptUrl contains the only returned bearer token",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateInvitationResponse" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" },
          "409": { "$ref": "#/components/responses/IdempotencyConflict" }
        }
      }
    },
    "/admin/platform/invitations/{invitationId}": {
      "delete": {
        "operationId": "revokePlatformInvitation",
        "summary": "Revoke a platform invitation",
        "description": "Transitions pending unexpired state to revoked. Repeating with the current revoked ETag is a 204 no-op; a stale ETag is always 412. Accepted or expired state returns 409. Retains the record and audit history.",
        "tags": ["Platform Invitations"],
        "parameters": [
          { "$ref": "#/components/parameters/InvitationId" },
          { "$ref": "#/components/parameters/IfMatch" }
        ],
        "responses": {
          "204": { "$ref": "#/components/responses/RevisionUpdated" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/InvitationNotPending" },
          "412": { "$ref": "#/components/responses/RevisionMismatch" },
          "428": { "$ref": "#/components/responses/PreconditionRequired" }
        }
      }
    },
    "/admin/platform-invitations/{token}/accept": {
      "post": {
        "operationId": "acceptPlatformInvitation",
        "summary": "Accept a platform invitation",
        "description": "Consumes a matching invitation-limited session, binds authority to immutable Google Principal identity, rotates the session, and grants full admission.",
        "tags": ["Platform Invitations"],
        "security": [{ "invitationSession": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/InvitationToken" }
        ],
        "responses": {
          "204": {
            "description": "Invitation accepted and session rotated; no response body. Read /admin/me to load current effective access."
          },
          "403": { "$ref": "#/components/responses/InvitationSessionRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/InvitationNotPending" }
        }
      }
    },
    "/admin/platform/audit-events": {
      "get": {
        "operationId": "listPlatformAuditEvents",
        "summary": "List platform authorization audit events",
        "tags": ["Platform Audit"],
        "parameters": [
          { "name": "action", "in": "query", "schema": { "$ref": "#/components/schemas/PlatformAuditAction" } },
          { "name": "actorPrincipalRef", "in": "query", "schema": { "$ref": "#/components/schemas/OpaqueId" } },
          { "name": "targetPrincipalRef", "in": "query", "schema": { "$ref": "#/components/schemas/OpaqueId" } },
          { "name": "createdAfter", "in": "query", "schema": { "$ref": "#/components/schemas/Timestamp" }, "description": "Exclusive createdAt lower bound in Unix epoch milliseconds, not an event ID. Results sort by createdAt descending then eventId descending; use the opaque cursor for continuation." },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" }
        ],
        "responses": {
          "200": {
            "description": "Snapshot-bound platform audit page",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformAuditPage" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "adminSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-unicas_admin",
        "description": "HttpOnly same-origin full administrator session. Current server-side authority is re-evaluated."
      },
      "invitationSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-unicas_admin",
        "description": "Invitation-limited session bound to one invitation and token hash. It is not a general administrator session."
      }
    },
    "headers": {
      "ETag": {
        "description": "Strong ETag containing the exact current integer revision.",
        "schema": { "$ref": "#/components/schemas/StrongETag" }
      }
    },
    "parameters": {
      "AppId": {
        "name": "appId",
        "in": "path",
        "required": true,
        "schema": { "$ref": "#/components/schemas/OpaqueId" },
        "description": "Opaque UniCAS-generated App identifier."
      },
      "PrincipalRef": {
        "name": "principalRef",
        "in": "path",
        "required": true,
        "schema": { "$ref": "#/components/schemas/OpaqueId" },
        "description": "Opaque API reference; authoritative identity remains issuer plus subject."
      },
      "InvitationId": {
        "name": "invitationId",
        "in": "path",
        "required": true,
        "schema": { "$ref": "#/components/schemas/OpaqueId" }
      },
      "InvitationToken": {
        "name": "token",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 1 },
        "description": "Single-use bearer token. Treat as a secret and never log it."
      },
      "IfMatch": {
        "name": "If-Match",
        "in": "header",
        "required": true,
        "schema": { "$ref": "#/components/schemas/StrongETag" },
        "description": "Exact strong ETag of the resource being mutated. Checked before no-op handling. Missing is 428, malformed is 400, mismatch is 412."
      },
      "IssuerIfMatch": {
        "name": "If-Match",
        "in": "header",
        "schema": { "$ref": "#/components/schemas/StrongETag" },
        "description": "Required for replacement: current external issuer ETag, not App or candidate revision. Mutually exclusive with If-None-Match."
      },
      "IssuerIfNoneMatch": {
        "name": "If-None-Match",
        "in": "header",
        "schema": { "type": "string", "const": "*" },
        "description": "Required for initial activation when no external issuer exists. Mutually exclusive with If-Match; concurrent creation fails with 412."
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": { "type": "string", "minLength": 1, "maxLength": 200 },
        "description": "Stable key scoped to Principal, operation, and parent resource. Exact normalized-input retries replay the original receipt and ETag after current authorization checks; changed input is 409 IDEMPOTENCY_CONFLICT. Invitation replay is encrypted, expires no later than the invitation, and cannot recover consumed, expired, or revoked invitations (409 INVITATION_NOT_PENDING)."
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": { "type": "integer", "minimum": 1, "maximum": 1000, "default": 50 }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "schema": { "$ref": "#/components/schemas/PaginationCursor" },
        "description": "Opaque snapshot-bound continuation cursor; keep filters and order unchanged, and recheck current authorization on every page."
      },
      "InvitationStatus": {
        "name": "status",
        "in": "query",
        "schema": { "$ref": "#/components/schemas/InvitationStatus" }
      }
    },
    "schemas": {
      "OpaqueId": {
        "type": "string",
        "minLength": 1,
        "description": "Opaque resource identifier or Principal reference. Domain is determined by the field name; never a display label or bearer token."
      },
      "NullableOpaqueId": {
        "anyOf": [{ "$ref": "#/components/schemas/OpaqueId" }, { "type": "null" }]
      },
      "Timestamp": {
        "type": "integer",
        "minimum": 0,
        "maximum": 9007199254740991,
        "description": "Unix epoch milliseconds."
      },
      "NullableTimestamp": {
        "anyOf": [{ "$ref": "#/components/schemas/Timestamp" }, { "type": "null" }]
      },
      "Revision": {
        "type": "integer",
        "minimum": 0,
        "maximum": 9007199254740991,
        "description": "Exact version of the owning mutable resource, never a cross-resource or snapshot version."
      },
      "StrongETag": {
        "type": "string",
        "pattern": "^\"(0|[1-9][0-9]*)\"$",
        "examples": ["\"4\""],
        "description": "Quoted canonical decimal Revision. Wildcards, weak tags, leading zeros, and tag lists are not accepted."
      },
      "PaginationCursor": {
        "type": "string",
        "minLength": 1,
        "description": "Opaque snapshot-bound cursor, not a resource identifier or timestamp."
      },
      "NextCursor": {
        "anyOf": [{ "$ref": "#/components/schemas/PaginationCursor" }, { "type": "null" }]
      },
      "EmailConstraint": {
        "type": "string",
        "format": "email",
        "description": "Verified-email constraint normalized using the existing invitation email comparison. Not a durable authorization identity."
      },
      "Principal": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "issuer": { "type": "string", "format": "uri" },
          "subject": { "type": "string", "minLength": 1 }
        },
        "required": ["issuer", "subject"]
      },
      "Profile": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "displayName": { "type": ["string", "null"] },
          "emailForDisplay": { "type": ["string", "null"], "format": "email" }
        },
        "required": ["displayName", "emailForDisplay"],
        "description": "Non-authoritative display metadata."
      },
      "PlatformAuthority": {
        "type": "string",
        "enum": ["platform.admin", "apps.create"]
      },
      "PlatformAuthorities": {
        "type": "array",
        "items": { "$ref": "#/components/schemas/PlatformAuthority" },
        "uniqueItems": true,
        "description": "Authority set. Request order is irrelevant; responses use enum declaration order. An empty array removes all platform authority."
      },
      "PlatformAccessStatus": {
        "type": "string",
        "enum": ["active", "blocked"]
      },
      "EffectiveAccess": {
        "type": "string",
        "enum": ["active", "blocked", "no_access"]
      },
      "PlatformAccessFields": {
        "type": "object",
        "properties": {
          "principalRef": { "$ref": "#/components/schemas/OpaqueId" },
          "principal": { "$ref": "#/components/schemas/Principal" },
          "status": { "$ref": "#/components/schemas/PlatformAccessStatus" },
          "authorities": { "$ref": "#/components/schemas/PlatformAuthorities" },
          "revision": { "$ref": "#/components/schemas/Revision" },
          "createdAt": { "$ref": "#/components/schemas/Timestamp" },
          "updatedAt": { "$ref": "#/components/schemas/Timestamp" }
        },
        "required": ["principalRef", "principal", "status", "authorities", "revision", "createdAt", "updatedAt"],
        "description": "Reusable fields, closed at each response projection with unevaluatedProperties. Profile and memberships are not versioned by this revision."
      },
      "PlatformAccessState": {
        "type": "object",
        "allOf": [{ "$ref": "#/components/schemas/PlatformAccessFields" }],
        "unevaluatedProperties": false
      },
      "PlatformAccessSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "activePrincipalCount": { "type": "integer", "minimum": 0 },
          "platformAdminCount": { "type": "integer", "minimum": 0 },
          "appCreatorCount": { "type": "integer", "minimum": 0 },
          "blockedPrincipalCount": { "type": "integer", "minimum": 0 },
          "generatedAt": { "$ref": "#/components/schemas/Timestamp" }
        },
        "required": ["activePrincipalCount", "platformAdminCount", "appCreatorCount", "blockedPrincipalCount", "generatedAt"]
      },
      "AppMembership": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "appId": { "$ref": "#/components/schemas/OpaqueId" },
          "principal": { "$ref": "#/components/schemas/Principal" },
          "profile": { "$ref": "#/components/schemas/Profile" }
        },
        "required": ["appId", "principal", "profile"]
      },
      "AppAdminMeResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "principal": { "$ref": "#/components/schemas/Principal" },
          "profile": { "$ref": "#/components/schemas/Profile" },
          "platformAccess": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "principalRef": { "$ref": "#/components/schemas/OpaqueId" },
              "status": { "type": "string", "const": "active" },
              "authorities": { "$ref": "#/components/schemas/PlatformAuthorities" },
              "revision": { "$ref": "#/components/schemas/Revision" }
            },
            "required": ["principalRef", "status", "authorities", "revision"]
          },
          "memberships": { "type": "array", "items": { "$ref": "#/components/schemas/AppMembership" } }
        },
        "required": ["principal", "profile", "platformAccess", "memberships"]
      },
      "AppStatus": {
        "type": "string",
        "enum": ["active", "suspended"]
      },
      "App": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "appId": { "$ref": "#/components/schemas/OpaqueId" },
          "displayName": { "type": "string", "minLength": 1 },
          "description": { "type": "string" },
          "status": { "$ref": "#/components/schemas/AppStatus" },
          "createdAt": { "$ref": "#/components/schemas/Timestamp" },
          "revision": { "$ref": "#/components/schemas/Revision" }
        },
        "required": ["appId", "displayName", "description", "status", "createdAt", "revision"]
      },
      "CreateAppRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "displayName": { "type": "string", "minLength": 1 }
        },
        "required": ["displayName"]
      },
      "CreateAppResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "appId": { "$ref": "#/components/schemas/OpaqueId" }
        },
        "required": ["appId"]
      },
      "PatchAppRequest": {
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
          "displayName": { "type": "string", "minLength": 1 },
          "description": { "type": "string" },
          "status": { "$ref": "#/components/schemas/AppStatus" }
        }
      },
      "InvitationStatus": {
        "type": "string",
        "enum": ["pending", "accepted", "expired", "revoked"]
      },
      "AppMemberInvitation": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "invitationId": { "$ref": "#/components/schemas/OpaqueId" },
          "appId": { "$ref": "#/components/schemas/OpaqueId" },
          "status": { "$ref": "#/components/schemas/InvitationStatus" },
          "emailConstraint": { "anyOf": [{ "$ref": "#/components/schemas/EmailConstraint" }, { "type": "null" }] },
          "expiresAt": { "$ref": "#/components/schemas/Timestamp" },
          "createdAt": { "$ref": "#/components/schemas/Timestamp" },
          "revision": { "$ref": "#/components/schemas/Revision" }
        },
        "required": ["invitationId", "appId", "status", "emailConstraint", "expiresAt", "createdAt", "revision"]
      },
      "CreateAppMemberInvitationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "emailConstraint": { "$ref": "#/components/schemas/EmailConstraint" }
        },
        "description": "Omit emailConstraint for an unconstrained invitation; it cannot bootstrap an unadmitted Principal. Requests do not use null to mean omitted."
      },
      "CreateInvitationResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "invitationId": { "$ref": "#/components/schemas/OpaqueId" },
          "acceptUrl": { "type": "string", "format": "uri" },
          "expiresAt": { "$ref": "#/components/schemas/Timestamp" }
        },
        "required": ["invitationId", "acceptUrl", "expiresAt"],
        "description": "Shared App and platform invitation creation receipt. The ETag header carries the invitation revision; no resource, request fields, or token field are echoed."
      },
      "AcceptAppMemberInvitationResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "appId": { "$ref": "#/components/schemas/OpaqueId" }
        },
        "required": ["appId"]
      },
      "AppMemberInvitationPage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/AppMemberInvitation" } },
          "nextCursor": { "$ref": "#/components/schemas/NextCursor" }
        },
        "required": ["items", "nextCursor"]
      },
      "InspectOAuthIssuerRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "issuer": { "type": "string", "format": "uri" }
        },
        "required": ["issuer"]
      },
      "InspectOAuthIssuerResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "inspectionId": { "$ref": "#/components/schemas/OpaqueId" },
          "metadataUrl": { "type": "string", "format": "uri" },
          "jwksUri": { "type": "string", "format": "uri" },
          "challenge": { "type": "string", "minLength": 1, "description": "Exact UTF-8 payload to sign as compact JWS; never decode and reserialize before signing." },
          "expiresAt": { "$ref": "#/components/schemas/Timestamp" },
          "keys": { "type": "array", "items": { "$ref": "#/components/schemas/InspectionSigningKey" }, "minItems": 1, "uniqueItems": true }
        },
        "required": ["inspectionId", "metadataUrl", "jwksUri", "challenge", "expiresAt", "keys"],
        "description": "Only candidate identifier, computed discovery URLs for review, exact proof payload, expiry, and eligible kid/algorithm choices. Does not repeat the request issuer or path App ID, export captured public JWKs, or expose an unrelated mutable-resource revision."
      },
      "InspectionSigningKey": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "kid": { "type": "string", "minLength": 1 },
          "algorithm": { "type": "string", "minLength": 1 }
        },
        "required": ["kid", "algorithm"]
      },
      "ActivateOAuthIssuerRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "inspectionId": { "$ref": "#/components/schemas/OpaqueId" },
          "activationProof": { "type": "string", "minLength": 1, "description": "Compact JWS signed outside UniCAS." }
        },
        "required": ["inspectionId", "activationProof"]
      },
      "PatchManagedIssuerRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "enabled": { "type": "boolean" }
        },
        "required": ["enabled"]
      },
      "PlatformPrincipalSummaryFields": {
        "type": "object",
        "properties": {
          "profile": { "$ref": "#/components/schemas/Profile" },
          "effectiveAccess": { "$ref": "#/components/schemas/EffectiveAccess" },
          "appMembershipCount": { "type": "integer", "minimum": 0 },
          "lastActiveAt": { "$ref": "#/components/schemas/NullableTimestamp" }
        },
        "required": ["profile", "effectiveAccess", "appMembershipCount", "lastActiveAt"]
      },
      "PlatformPrincipalListItem": {
        "type": "object",
        "allOf": [
          { "$ref": "#/components/schemas/PlatformAccessFields" },
          { "$ref": "#/components/schemas/PlatformPrincipalSummaryFields" }
        ],
        "unevaluatedProperties": false
      },
      "PlatformPrincipalDetail": {
        "type": "object",
        "allOf": [
          { "$ref": "#/components/schemas/PlatformAccessFields" },
          { "$ref": "#/components/schemas/PlatformPrincipalSummaryFields" },
          {
            "type": "object",
            "properties": {
              "memberships": { "type": "array", "items": { "$ref": "#/components/schemas/AppMembership" } }
            },
            "required": ["memberships"]
          }
        ],
        "unevaluatedProperties": false
      },
      "PlatformPrincipalPage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/PlatformPrincipalListItem" } },
          "nextCursor": { "$ref": "#/components/schemas/NextCursor" }
        },
        "required": ["items", "nextCursor"]
      },
      "PatchPlatformAccessRequest": {
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
          "status": { "$ref": "#/components/schemas/PlatformAccessStatus" },
          "authorities": { "$ref": "#/components/schemas/PlatformAuthorities" }
        }
      },
      "PlatformInvitation": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "invitationId": { "$ref": "#/components/schemas/OpaqueId" },
          "emailConstraint": { "$ref": "#/components/schemas/EmailConstraint" },
          "authorities": { "$ref": "#/components/schemas/PlatformAuthorities", "minItems": 1 },
          "status": { "$ref": "#/components/schemas/InvitationStatus" },
          "expiresAt": { "$ref": "#/components/schemas/Timestamp" },
          "createdAt": { "$ref": "#/components/schemas/Timestamp" },
          "createdBy": { "$ref": "#/components/schemas/Principal" },
          "revision": { "$ref": "#/components/schemas/Revision" }
        },
        "required": ["invitationId", "emailConstraint", "authorities", "status", "expiresAt", "createdAt", "createdBy", "revision"]
      },
      "CreatePlatformInvitationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "emailConstraint": { "$ref": "#/components/schemas/EmailConstraint" },
          "authorities": { "$ref": "#/components/schemas/PlatformAuthorities", "minItems": 1 }
        },
        "required": ["emailConstraint", "authorities"]
      },
      "PlatformInvitationPage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/PlatformInvitation" } },
          "nextCursor": { "$ref": "#/components/schemas/NextCursor" }
        },
        "required": ["items", "nextCursor"]
      },
      "PlatformAuditAction": {
        "type": "string",
        "enum": ["platform_invitation.created", "platform_invitation.revoked", "platform_invitation.accepted", "platform_access.authority_changed", "platform_access.blocked", "platform_access.restored", "platform_access.change_denied", "app.create_denied"]
      },
      "PlatformAuditEvent": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "eventId": { "$ref": "#/components/schemas/OpaqueId" },
          "action": { "$ref": "#/components/schemas/PlatformAuditAction" },
          "actorPrincipalRef": { "$ref": "#/components/schemas/NullableOpaqueId" },
          "actorPrincipal": { "$ref": "#/components/schemas/Principal" },
          "targetPrincipalRef": { "$ref": "#/components/schemas/NullableOpaqueId" },
          "targetPrincipal": { "oneOf": [{ "$ref": "#/components/schemas/Principal" }, { "type": "null" }] },
          "targetInvitationId": { "$ref": "#/components/schemas/NullableOpaqueId" },
          "result": { "type": "string", "enum": ["succeeded", "denied"] },
          "requestId": { "$ref": "#/components/schemas/NullableOpaqueId" },
          "createdAt": { "$ref": "#/components/schemas/Timestamp" },
          "details": { "type": "object", "additionalProperties": { "type": ["string", "number", "boolean", "null"] } }
        },
        "required": ["eventId", "action", "actorPrincipalRef", "actorPrincipal", "targetPrincipalRef", "targetPrincipal", "targetInvitationId", "result", "requestId", "createdAt", "details"]
      },
      "PlatformAuditPage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/PlatformAuditEvent" } },
          "nextCursor": { "$ref": "#/components/schemas/NextCursor" }
        },
        "required": ["items", "nextCursor"]
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "ADMIN_AUTH_REQUIRED",
          "PLATFORM_ACCESS_REQUIRED",
          "PLATFORM_ADMIN_REQUIRED",
          "APP_CREATION_AUTHORITY_REQUIRED",
          "APP_MEMBERSHIP_REQUIRED",
          "APP_SUSPENDED",
          "LAST_PLATFORM_ADMIN",
          "SELF_BLOCK_FORBIDDEN",
          "INVITATION_SESSION_REQUIRED",
          "INVITATION_NOT_PENDING",
          "NOT_FOUND",
          "INVALID_REQUEST",
          "INVALID_CURSOR",
          "PRECONDITION_REQUIRED",
          "REVISION_MISMATCH",
          "IDEMPOTENCY_CONFLICT",
          "ISSUER_CONFLICT",
          "RATE_LIMITED",
          "SERVICE_UNAVAILABLE"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": { "$ref": "#/components/schemas/ErrorCode" },
          "message": { "type": "string" }
        },
        "required": ["error"]
      }
    },
    "responses": {
      "RevisionUpdated": {
        "description": "Mutation succeeded. No response body; ETag is the new revision of the mutated resource. Read its GET representation when refreshed display data is needed.",
        "headers": { "ETag": { "$ref": "#/components/headers/ETag" } }
      },
      "CurrentSession": {
        "description": "Current fully admitted Console session",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AppAdminMeResponse" } } }
      },
      "AuthRequired": {
        "description": "Administrator authentication is required",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "ADMIN_AUTH_REQUIRED" } } }
      },
      "PlatformAccessRequired": {
        "description": "No current full platform admission, or access is blocked",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "PLATFORM_ACCESS_REQUIRED" } } }
      },
      "PlatformAdminRequired": {
        "description": "Current Principal lacks platform.admin authority",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "PLATFORM_ADMIN_REQUIRED" } } }
      },
      "AppCreationAuthorityRequired": {
        "description": "Current Principal lacks apps.create authority",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "APP_CREATION_AUTHORITY_REQUIRED" } } }
      },
      "AppMembershipRequired": {
        "description": "Current Principal is not an App member",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "APP_MEMBERSHIP_REQUIRED" } } }
      },
      "InvitationSessionRequired": {
        "description": "A matching invitation-limited session is required",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "INVITATION_SESSION_REQUIRED" } } }
      },
      "InvitationNotPending": {
        "description": "Invitation is accepted, expired, or revoked",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "INVITATION_NOT_PENDING" } } }
      },
      "InvalidRequest": {
        "description": "Request or cursor is invalid",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "INVALID_REQUEST" } } }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "NOT_FOUND" } } }
      },
      "PreconditionRequired": {
        "description": "A concurrency precondition is required: If-Match for an existing resource, or If-None-Match: * for initial external issuer activation",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "PRECONDITION_REQUIRED" } } }
      },
      "RevisionMismatch": {
        "description": "If-Match does not match the owning resource revision, or If-None-Match: * failed because the external issuer already exists",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "REVISION_MISMATCH" } } }
      },
      "IdempotencyConflict": {
        "description": "IDEMPOTENCY_CONFLICT when a key was reused with different input; INVITATION_NOT_PENDING when an invitation receipt can no longer be replayed",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "IDEMPOTENCY_CONFLICT" } } }
      },
      "IssuerConflict": {
        "description": "Issuer candidate conflicts with current state or global uniqueness",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "ISSUER_CONFLICT" } } }
      },
      "ServiceUnavailable": {
        "description": "Control-plane service is unavailable",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "SERVICE_UNAVAILABLE" } } }
      }
    }
  },
  "x-unicas-status": "discussion-draft",
  "x-unicas-canonical-api": "/packages/admin-protocol/openapi/admin-v2.openapi.json"
}
