{
  "openapi": "3.1.1",
  "info": {
    "title": "UniCAS Console and Platform Access API Proposal",
    "version": "0.1.0-proposal",
    "summary": "Discussion contract for platform access and affected App administration workflows.",
    "description": "Proposal subset only. This document does not replace the generated UniCAS App Administrator API. It models the new platform access surface and the App-level contracts required by the Console redesign.",
    "license": {
      "name": "MIT",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://console.unicas.work",
      "description": "Production administrator origin"
    }
  ],
  "tags": [
    { "name": "Identity", "description": "Current session and effective Console authority." },
    { "name": "Apps", "description": "App creation and reversible operational status." },
    { "name": "App Invitations", "description": "App administrator invitation lifecycle." },
    { "name": "OAuth Issuers", "description": "Managed and production App issuer configuration." },
    { "name": "Platform Access", "description": "Platform Principal authority and global access state." },
    { "name": "Platform Invitations", "description": "Invitations that grant platform authority." },
    { "name": "Platform Audit", "description": "Append-only platform authorization history." }
  ],
  "security": [
    { "adminSession": [] }
  ],
  "paths": {
    "/admin/me": {
      "get": {
        "operationId": "getCurrentPrincipal",
        "summary": "Read the current Console session",
        "description": "Returns immutable Principal identity, display Profile, effective platform access, and visible App memberships.",
        "tags": ["Identity"],
        "responses": {
          "200": { "$ref": "#/components/responses/CurrentSession" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAccessRequired" },
          "503": { "$ref": "#/components/responses/ServiceUnavailable" }
        }
      }
    },
    "/admin/apps": {
      "post": {
        "operationId": "createApp",
        "summary": "Create an App",
        "description": "Requires current apps.create authority. Creates the App and grants the caller its first equal-authority App membership.",
        "tags": ["Apps"],
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAppRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "App created",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/App" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppCreationAuthorityRequired" },
          "409": { "$ref": "#/components/responses/IdempotencyConflict" },
          "503": { "$ref": "#/components/responses/ServiceUnavailable" }
        }
      }
    },
    "/admin/apps/{appId}": {
      "patch": {
        "operationId": "patchApp",
        "summary": "Update, suspend, or restore an App",
        "description": "Conditionally updates App metadata or status. Suspension blocks every Space data-plane operation while preserving App control-plane recovery access.",
        "tags": ["Apps"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" },
          { "$ref": "#/components/parameters/IfMatch" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PatchAppRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "App updated",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/App" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "412": { "$ref": "#/components/responses/RevisionMismatch" },
          "428": { "$ref": "#/components/responses/PreconditionRequired" }
        }
      }
    },
    "/admin/apps/{appId}/member-invitations": {
      "get": {
        "operationId": "listAppMemberInvitations",
        "summary": "List App member invitations",
        "description": "Lists invitation records without bearer tokens or accept URLs. Effective expiry is reconciled consistently with acceptance and revocation.",
        "tags": ["App Invitations"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" },
          { "$ref": "#/components/parameters/InvitationStatus" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" }
        ],
        "responses": {
          "200": {
            "description": "Snapshot-bound invitation page",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AppMemberInvitationPage" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "post": {
        "operationId": "createAppMemberInvitation",
        "summary": "Create an App member invitation",
        "description": "Creates a short-lived single-use invitation for equal App administrator membership.",
        "tags": ["App Invitations"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" },
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateAppMemberInvitationRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation created; acceptUrl contains the only returned bearer token",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreateAppMemberInvitationResponse" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "409": { "$ref": "#/components/responses/IdempotencyConflict" }
        }
      }
    },
    "/admin/apps/{appId}/member-invitations/{invitationId}": {
      "delete": {
        "operationId": "revokeAppMemberInvitation",
        "summary": "Revoke an App member invitation",
        "description": "Conditionally transitions a pending unexpired invitation to revoked. The record and audit history are retained.",
        "tags": ["App Invitations"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" },
          { "$ref": "#/components/parameters/InvitationId" },
          { "$ref": "#/components/parameters/IfMatch" }
        ],
        "responses": {
          "200": {
            "description": "Invitation revoked",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AppMemberInvitation" } } }
          },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/InvitationNotPending" },
          "412": { "$ref": "#/components/responses/RevisionMismatch" },
          "428": { "$ref": "#/components/responses/PreconditionRequired" }
        }
      }
    },
    "/admin/member-invitations/{token}/accept": {
      "post": {
        "operationId": "acceptAppMemberInvitation",
        "summary": "Accept an App member invitation",
        "description": "Consumes the invitation for the matching invitation-limited Google OIDC session and creates App membership.",
        "tags": ["App Invitations"],
        "security": [{ "invitationSession": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/InvitationToken" }
        ],
        "responses": {
          "200": {
            "description": "Invitation accepted",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AppMembership" } } }
          },
          "403": { "$ref": "#/components/responses/InvitationSessionRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/InvitationNotPending" }
        }
      }
    },
    "/admin/apps/{appId}/oauth-issuer/inspections": {
      "post": {
        "operationId": "inspectAppOAuthIssuer",
        "summary": "Inspect a production OAuth issuer",
        "description": "Creates a candidate inspection without changing the currently active production issuer.",
        "tags": ["OAuth Issuers"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/InspectOAuthIssuerRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Candidate issuer inspected",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/OAuthIssuerInspection" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "409": { "$ref": "#/components/responses/IssuerConflict" },
          "503": { "$ref": "#/components/responses/ServiceUnavailable" }
        }
      }
    },
    "/admin/apps/{appId}/oauth-issuer": {
      "put": {
        "operationId": "activateOrReplaceAppOAuthIssuer",
        "summary": "Activate or replace the production OAuth issuer",
        "description": "Atomically selects a verified candidate. The current issuer remains authoritative until this commit succeeds.",
        "tags": ["OAuth Issuers"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" },
          { "$ref": "#/components/parameters/IfMatch" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ActivateOAuthIssuerRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Production issuer activated or replaced",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AppOAuthIssuer" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "409": { "$ref": "#/components/responses/IssuerConflict" },
          "412": { "$ref": "#/components/responses/RevisionMismatch" },
          "428": { "$ref": "#/components/responses/PreconditionRequired" }
        }
      }
    },
    "/admin/apps/{appId}/managed-issuer": {
      "patch": {
        "operationId": "patchAppManagedIssuer",
        "summary": "Activate or disable the managed issuer",
        "description": "Controls new managed capability issuance independently from the production issuer.",
        "tags": ["OAuth Issuers"],
        "parameters": [
          { "$ref": "#/components/parameters/AppId" },
          { "$ref": "#/components/parameters/IfMatch" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PatchManagedIssuerRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Managed issuer state updated",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/AppOAuthIssuer" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/AppMembershipRequired" },
          "412": { "$ref": "#/components/responses/RevisionMismatch" },
          "428": { "$ref": "#/components/responses/PreconditionRequired" }
        }
      }
    },
    "/admin/platform/access-summary": {
      "get": {
        "operationId": "getPlatformAccessSummary",
        "summary": "Read platform access counts",
        "tags": ["Platform Access"],
        "responses": {
          "200": {
            "description": "Current aggregate counts",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformAccessSummary" } } }
          },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" },
          "503": { "$ref": "#/components/responses/ServiceUnavailable" }
        }
      }
    },
    "/admin/platform/principals": {
      "get": {
        "operationId": "listPlatformPrincipals",
        "summary": "List platform Principals",
        "description": "Searches the platform access projection over immutable Principal identity, Profile metadata, authority, and App membership counts.",
        "tags": ["Platform Access"],
        "parameters": [
          { "name": "query", "in": "query", "schema": { "type": "string" }, "description": "Display name, email, or subject search." },
          { "name": "status", "in": "query", "schema": { "$ref": "#/components/schemas/EffectiveAccess" } },
          { "name": "authority", "in": "query", "schema": { "oneOf": [{ "$ref": "#/components/schemas/PlatformAuthority" }, { "type": "string", "const": "none" }] } },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" }
        ],
        "responses": {
          "200": {
            "description": "Snapshot-bound Principal page",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformPrincipalPage" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" }
        }
      }
    },
    "/admin/platform/principals/{principalRef}": {
      "get": {
        "operationId": "getPlatformPrincipal",
        "summary": "Read one platform Principal",
        "tags": ["Platform Access"],
        "parameters": [
          { "$ref": "#/components/parameters/PrincipalRef" }
        ],
        "responses": {
          "200": {
            "description": "Principal detail with read-only App memberships",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformPrincipalDetail" } } }
          },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/admin/platform/principals/{principalRef}/access": {
      "patch": {
        "operationId": "patchPlatformPrincipalAccess",
        "summary": "Change platform authority or access status",
        "description": "Atomically replaces supplied access fields. Blocking overrides all platform authority and App membership admission without deleting them.",
        "tags": ["Platform Access"],
        "parameters": [
          { "$ref": "#/components/parameters/PrincipalRef" },
          { "$ref": "#/components/parameters/IfMatch" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/PatchPlatformAccessRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Platform access updated",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformAccessState" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": {
            "description": "The mutation would remove the final Platform Admin or block the caller",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" } } }
          },
          "412": { "$ref": "#/components/responses/RevisionMismatch" },
          "428": { "$ref": "#/components/responses/PreconditionRequired" }
        }
      }
    },
    "/admin/platform/invitations": {
      "get": {
        "operationId": "listPlatformInvitations",
        "summary": "List platform invitations",
        "tags": ["Platform Invitations"],
        "parameters": [
          { "name": "query", "in": "query", "schema": { "type": "string" }, "description": "Normalized email search." },
          { "$ref": "#/components/parameters/InvitationStatus" },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" }
        ],
        "responses": {
          "200": {
            "description": "Snapshot-bound invitation page without bearer tokens",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformInvitationPage" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" }
        }
      },
      "post": {
        "operationId": "createPlatformInvitation",
        "summary": "Invite an internal developer",
        "description": "Creates a short-lived verified-email invitation carrying one or more platform authorities.",
        "tags": ["Platform Invitations"],
        "parameters": [
          { "$ref": "#/components/parameters/IdempotencyKey" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreatePlatformInvitationRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Invitation created; acceptUrl contains the only returned bearer token",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CreatePlatformInvitationResponse" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" },
          "409": { "$ref": "#/components/responses/IdempotencyConflict" }
        }
      }
    },
    "/admin/platform/invitations/{invitationId}": {
      "delete": {
        "operationId": "revokePlatformInvitation",
        "summary": "Revoke a platform invitation",
        "tags": ["Platform Invitations"],
        "parameters": [
          { "$ref": "#/components/parameters/InvitationId" },
          { "$ref": "#/components/parameters/IfMatch" }
        ],
        "responses": {
          "200": {
            "description": "Invitation revoked",
            "headers": { "ETag": { "$ref": "#/components/headers/ETag" } },
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformInvitation" } } }
          },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/InvitationNotPending" },
          "412": { "$ref": "#/components/responses/RevisionMismatch" },
          "428": { "$ref": "#/components/responses/PreconditionRequired" }
        }
      }
    },
    "/admin/platform-invitations/{token}/accept": {
      "post": {
        "operationId": "acceptPlatformInvitation",
        "summary": "Accept a platform invitation",
        "description": "Consumes a matching invitation-limited session, binds authority to immutable Google Principal identity, rotates the session, and grants full admission.",
        "tags": ["Platform Invitations"],
        "security": [{ "invitationSession": [] }],
        "parameters": [
          { "$ref": "#/components/parameters/InvitationToken" }
        ],
        "responses": {
          "200": {
            "description": "Invitation accepted and session upgraded",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformAccessState" } } }
          },
          "403": { "$ref": "#/components/responses/InvitationSessionRequired" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "$ref": "#/components/responses/InvitationNotPending" }
        }
      }
    },
    "/admin/platform/audit-events": {
      "get": {
        "operationId": "listPlatformAuditEvents",
        "summary": "List platform authorization audit events",
        "tags": ["Platform Audit"],
        "parameters": [
          { "name": "action", "in": "query", "schema": { "type": "string" } },
          { "name": "actorPrincipalRef", "in": "query", "schema": { "type": "string" } },
          { "name": "targetPrincipalRef", "in": "query", "schema": { "type": "string" } },
          { "name": "after", "in": "query", "schema": { "type": "string" } },
          { "$ref": "#/components/parameters/Limit" },
          { "$ref": "#/components/parameters/Cursor" }
        ],
        "responses": {
          "200": {
            "description": "Snapshot-bound platform audit page",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PlatformAuditPage" } } }
          },
          "400": { "$ref": "#/components/responses/InvalidRequest" },
          "401": { "$ref": "#/components/responses/AuthRequired" },
          "403": { "$ref": "#/components/responses/PlatformAdminRequired" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "adminSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-unicas_admin",
        "description": "HttpOnly same-origin full administrator session. Current server-side authority is re-evaluated."
      },
      "invitationSession": {
        "type": "apiKey",
        "in": "cookie",
        "name": "__Host-unicas_admin",
        "description": "Invitation-limited session bound to one invitation and token hash. It is not a general administrator session."
      }
    },
    "headers": {
      "ETag": {
        "description": "Strong ETag containing the exact current integer revision.",
        "schema": { "type": "string", "pattern": "^\"[0-9]+\"$", "example": "\"4\"" }
      }
    },
    "parameters": {
      "AppId": {
        "name": "appId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 1 },
        "description": "Opaque UniCAS-generated App identifier."
      },
      "PrincipalRef": {
        "name": "principalRef",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 1 },
        "description": "Opaque API reference; authoritative identity remains issuer plus subject."
      },
      "InvitationId": {
        "name": "invitationId",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 1 }
      },
      "InvitationToken": {
        "name": "token",
        "in": "path",
        "required": true,
        "schema": { "type": "string", "minLength": 1 },
        "description": "Single-use bearer token. Treat as a secret and never log it."
      },
      "IfMatch": {
        "name": "If-Match",
        "in": "header",
        "required": true,
        "schema": { "type": "string", "pattern": "^\"[0-9]+\"$", "example": "\"4\"" },
        "description": "Strong ETag from the current resource."
      },
      "IdempotencyKey": {
        "name": "Idempotency-Key",
        "in": "header",
        "required": true,
        "schema": { "type": "string", "minLength": 1, "maxLength": 200 },
        "description": "Stable key reused only for an exact retry of the same creation request."
      },
      "Limit": {
        "name": "limit",
        "in": "query",
        "schema": { "type": "integer", "minimum": 1, "maximum": 1000, "default": 50 }
      },
      "Cursor": {
        "name": "cursor",
        "in": "query",
        "schema": { "type": "string", "minLength": 1 },
        "description": "Opaque snapshot-bound continuation cursor."
      },
      "InvitationStatus": {
        "name": "status",
        "in": "query",
        "schema": { "$ref": "#/components/schemas/InvitationStatus" }
      }
    },
    "schemas": {
      "Principal": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "issuer": { "type": "string", "format": "uri" },
          "subject": { "type": "string", "minLength": 1 }
        },
        "required": ["issuer", "subject"]
      },
      "Profile": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "displayName": { "type": ["string", "null"] },
          "emailForDisplay": { "type": ["string", "null"], "format": "email" }
        },
        "required": ["displayName", "emailForDisplay"],
        "description": "Non-authoritative display metadata."
      },
      "PlatformAuthority": {
        "type": "string",
        "enum": ["platform.admin", "apps.create"]
      },
      "PlatformAccessStatus": {
        "type": "string",
        "enum": ["active", "blocked"]
      },
      "EffectiveAccess": {
        "type": "string",
        "enum": ["active", "blocked", "no_access"]
      },
      "PlatformAccessState": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "principalRef": { "type": "string", "minLength": 1 },
          "principal": { "$ref": "#/components/schemas/Principal" },
          "profile": { "$ref": "#/components/schemas/Profile" },
          "status": { "$ref": "#/components/schemas/PlatformAccessStatus" },
          "authorities": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/PlatformAuthority" },
            "uniqueItems": true
          },
          "revision": { "type": "integer", "minimum": 0 },
          "createdAt": { "type": "integer", "minimum": 0 },
          "updatedAt": { "type": "integer", "minimum": 0 }
        },
        "required": ["principalRef", "principal", "profile", "status", "authorities", "revision", "createdAt", "updatedAt"]
      },
      "PlatformAccessSummary": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "activePrincipalCount": { "type": "integer", "minimum": 0 },
          "platformAdminCount": { "type": "integer", "minimum": 0 },
          "appCreatorCount": { "type": "integer", "minimum": 0 },
          "blockedPrincipalCount": { "type": "integer", "minimum": 0 },
          "revision": { "type": "integer", "minimum": 0 }
        },
        "required": ["activePrincipalCount", "platformAdminCount", "appCreatorCount", "blockedPrincipalCount", "revision"]
      },
      "AppMembership": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "appId": { "type": "string", "minLength": 1 },
          "principal": { "$ref": "#/components/schemas/Principal" },
          "profile": { "$ref": "#/components/schemas/Profile" }
        },
        "required": ["appId", "principal", "profile"]
      },
      "CurrentSession": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "principal": { "$ref": "#/components/schemas/Principal" },
          "profile": { "$ref": "#/components/schemas/Profile" },
          "platformAccess": {
            "type": "object",
            "additionalProperties": false,
            "properties": {
              "principalRef": { "type": "string" },
              "status": { "type": "string", "const": "active" },
              "authorities": { "type": "array", "items": { "$ref": "#/components/schemas/PlatformAuthority" }, "uniqueItems": true },
              "revision": { "type": "integer", "minimum": 0 }
            },
            "required": ["principalRef", "status", "authorities", "revision"]
          },
          "memberships": { "type": "array", "items": { "$ref": "#/components/schemas/AppMembership" } }
        },
        "required": ["principal", "profile", "platformAccess", "memberships"]
      },
      "AppStatus": {
        "type": "string",
        "enum": ["active", "suspended"]
      },
      "App": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "appId": { "type": "string", "minLength": 1 },
          "displayName": { "type": "string", "minLength": 1 },
          "description": { "type": "string" },
          "status": { "$ref": "#/components/schemas/AppStatus" },
          "createdAt": { "type": "integer", "minimum": 0 },
          "revision": { "type": "integer", "minimum": 0 }
        },
        "required": ["appId", "displayName", "description", "status", "createdAt", "revision"]
      },
      "CreateAppRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "displayName": { "type": "string", "minLength": 1 }
        },
        "required": ["displayName"]
      },
      "PatchAppRequest": {
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
          "displayName": { "type": "string", "minLength": 1 },
          "description": { "type": "string", "maxLength": 2000 },
          "status": { "$ref": "#/components/schemas/AppStatus" }
        }
      },
      "InvitationStatus": {
        "type": "string",
        "enum": ["pending", "accepted", "expired", "revoked"]
      },
      "AppMemberInvitation": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "invitationId": { "type": "string", "minLength": 1 },
          "appId": { "type": "string", "minLength": 1 },
          "status": { "$ref": "#/components/schemas/InvitationStatus" },
          "emailConstraint": { "type": ["string", "null"], "format": "email" },
          "expiresAt": { "type": "integer", "minimum": 0 },
          "createdAt": { "type": "integer", "minimum": 0 },
          "revision": { "type": "integer", "minimum": 0 }
        },
        "required": ["invitationId", "appId", "status", "emailConstraint", "expiresAt", "createdAt", "revision"]
      },
      "CreateAppMemberInvitationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "emailConstraint": { "type": "string", "format": "email" }
        },
        "required": ["emailConstraint"]
      },
      "CreateAppMemberInvitationResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "invitation": { "$ref": "#/components/schemas/AppMemberInvitation" },
          "acceptUrl": { "type": "string", "format": "uri" }
        },
        "required": ["invitation", "acceptUrl"]
      },
      "AppMemberInvitationPage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/AppMemberInvitation" } },
          "nextCursor": { "type": ["string", "null"] }
        },
        "required": ["items", "nextCursor"]
      },
      "InspectOAuthIssuerRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "issuer": { "type": "string", "format": "uri" }
        },
        "required": ["issuer"]
      },
      "OAuthIssuerInspection": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "inspectionId": { "type": "string" },
          "appId": { "type": "string" },
          "issuer": { "type": "string", "format": "uri" },
          "metadataUrl": { "type": "string", "format": "uri" },
          "jwksUri": { "type": "string", "format": "uri" },
          "challenge": { "type": "string" },
          "expiresAt": { "type": "integer", "minimum": 0 },
          "revision": { "type": "integer", "minimum": 0 }
        },
        "required": ["inspectionId", "appId", "issuer", "metadataUrl", "jwksUri", "challenge", "expiresAt", "revision"]
      },
      "ActivateOAuthIssuerRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "inspectionId": { "type": "string", "minLength": 1 },
          "activationProof": { "type": "string", "minLength": 1, "description": "Compact JWS signed outside UniCAS." }
        },
        "required": ["inspectionId", "activationProof"]
      },
      "PatchManagedIssuerRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "enabled": { "type": "boolean" }
        },
        "required": ["enabled"]
      },
      "AppOAuthIssuer": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "appId": { "type": "string" },
          "mode": { "type": "string", "enum": ["managed", "external"] },
          "issuer": { "type": "string", "format": "uri" },
          "status": { "type": "string", "enum": ["pending", "active", "stale", "incompatible", "disabled"] },
          "revision": { "type": "integer", "minimum": 0 }
        },
        "required": ["appId", "mode", "issuer", "status", "revision"]
      },
      "PlatformPrincipalListItem": {
        "allOf": [
          { "$ref": "#/components/schemas/PlatformAccessState" },
          {
            "type": "object",
            "properties": {
              "effectiveAccess": { "$ref": "#/components/schemas/EffectiveAccess" },
              "appMembershipCount": { "type": "integer", "minimum": 0 },
              "lastActiveAt": { "type": ["integer", "null"], "minimum": 0 }
            },
            "required": ["effectiveAccess", "appMembershipCount", "lastActiveAt"]
          }
        ]
      },
      "PlatformPrincipalDetail": {
        "allOf": [
          { "$ref": "#/components/schemas/PlatformPrincipalListItem" },
          {
            "type": "object",
            "properties": {
              "memberships": { "type": "array", "items": { "$ref": "#/components/schemas/AppMembership" } }
            },
            "required": ["memberships"]
          }
        ]
      },
      "PlatformPrincipalPage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/PlatformPrincipalListItem" } },
          "nextCursor": { "type": ["string", "null"] }
        },
        "required": ["items", "nextCursor"]
      },
      "PatchPlatformAccessRequest": {
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
          "status": { "$ref": "#/components/schemas/PlatformAccessStatus" },
          "authorities": { "type": "array", "items": { "$ref": "#/components/schemas/PlatformAuthority" }, "uniqueItems": true }
        }
      },
      "PlatformInvitation": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "invitationId": { "type": "string" },
          "emailConstraint": { "type": "string", "format": "email" },
          "authorities": { "type": "array", "items": { "$ref": "#/components/schemas/PlatformAuthority" }, "minItems": 1, "uniqueItems": true },
          "status": { "$ref": "#/components/schemas/InvitationStatus" },
          "expiresAt": { "type": "integer", "minimum": 0 },
          "createdAt": { "type": "integer", "minimum": 0 },
          "createdBy": { "$ref": "#/components/schemas/Principal" },
          "revision": { "type": "integer", "minimum": 0 }
        },
        "required": ["invitationId", "emailConstraint", "authorities", "status", "expiresAt", "createdAt", "createdBy", "revision"]
      },
      "CreatePlatformInvitationRequest": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "emailConstraint": { "type": "string", "format": "email" },
          "authorities": { "type": "array", "items": { "$ref": "#/components/schemas/PlatformAuthority" }, "minItems": 1, "uniqueItems": true }
        },
        "required": ["emailConstraint", "authorities"]
      },
      "CreatePlatformInvitationResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "invitation": { "$ref": "#/components/schemas/PlatformInvitation" },
          "acceptUrl": { "type": "string", "format": "uri" }
        },
        "required": ["invitation", "acceptUrl"]
      },
      "PlatformInvitationPage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/PlatformInvitation" } },
          "nextCursor": { "type": ["string", "null"] }
        },
        "required": ["items", "nextCursor"]
      },
      "PlatformAuditEvent": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "eventId": { "type": "string" },
          "action": { "type": "string" },
          "actor": { "$ref": "#/components/schemas/Principal" },
          "targetPrincipal": { "oneOf": [{ "$ref": "#/components/schemas/Principal" }, { "type": "null" }] },
          "targetInvitationId": { "type": ["string", "null"] },
          "result": { "type": "string", "enum": ["succeeded", "denied"] },
          "requestId": { "type": ["string", "null"] },
          "createdAt": { "type": "integer", "minimum": 0 },
          "details": { "type": "object", "additionalProperties": { "type": ["string", "number", "boolean", "null"] } }
        },
        "required": ["eventId", "action", "actor", "targetPrincipal", "targetInvitationId", "result", "requestId", "createdAt", "details"]
      },
      "PlatformAuditPage": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "items": { "type": "array", "items": { "$ref": "#/components/schemas/PlatformAuditEvent" } },
          "nextCursor": { "type": ["string", "null"] }
        },
        "required": ["items", "nextCursor"]
      },
      "ErrorCode": {
        "type": "string",
        "enum": [
          "ADMIN_AUTH_REQUIRED",
          "PLATFORM_ACCESS_REQUIRED",
          "PLATFORM_ADMIN_REQUIRED",
          "APP_CREATION_AUTHORITY_REQUIRED",
          "APP_MEMBERSHIP_REQUIRED",
          "APP_SUSPENDED",
          "LAST_PLATFORM_ADMIN",
          "SELF_BLOCK_FORBIDDEN",
          "INVITATION_SESSION_REQUIRED",
          "INVITATION_NOT_PENDING",
          "NOT_FOUND",
          "INVALID_REQUEST",
          "INVALID_CURSOR",
          "PRECONDITION_REQUIRED",
          "REVISION_MISMATCH",
          "IDEMPOTENCY_CONFLICT",
          "ISSUER_CONFLICT",
          "RATE_LIMITED",
          "SERVICE_UNAVAILABLE"
        ]
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "error": { "$ref": "#/components/schemas/ErrorCode" },
          "message": { "type": "string" }
        },
        "required": ["error"]
      }
    },
    "responses": {
      "CurrentSession": {
        "description": "Current fully admitted Console session",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CurrentSession" } } }
      },
      "AuthRequired": {
        "description": "Administrator authentication is required",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "ADMIN_AUTH_REQUIRED" } } }
      },
      "PlatformAccessRequired": {
        "description": "No current full platform admission, or access is blocked",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "PLATFORM_ACCESS_REQUIRED" } } }
      },
      "PlatformAdminRequired": {
        "description": "Current Principal lacks platform.admin authority",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "PLATFORM_ADMIN_REQUIRED" } } }
      },
      "AppCreationAuthorityRequired": {
        "description": "Current Principal lacks apps.create authority",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "APP_CREATION_AUTHORITY_REQUIRED" } } }
      },
      "AppMembershipRequired": {
        "description": "Current Principal is not an App member",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "APP_MEMBERSHIP_REQUIRED" } } }
      },
      "InvitationSessionRequired": {
        "description": "A matching invitation-limited session is required",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "INVITATION_SESSION_REQUIRED" } } }
      },
      "InvitationNotPending": {
        "description": "Invitation is accepted, expired, or revoked",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "INVITATION_NOT_PENDING" } } }
      },
      "InvalidRequest": {
        "description": "Request or cursor is invalid",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "INVALID_REQUEST" } } }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "NOT_FOUND" } } }
      },
      "PreconditionRequired": {
        "description": "If-Match is required",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "PRECONDITION_REQUIRED" } } }
      },
      "RevisionMismatch": {
        "description": "If-Match does not match the current resource revision",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "REVISION_MISMATCH" } } }
      },
      "IdempotencyConflict": {
        "description": "Idempotency key was reused with different input",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "IDEMPOTENCY_CONFLICT" } } }
      },
      "IssuerConflict": {
        "description": "Issuer candidate conflicts with current state or global uniqueness",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "ISSUER_CONFLICT" } } }
      },
      "ServiceUnavailable": {
        "description": "Control-plane service is unavailable",
        "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ErrorResponse" }, "example": { "error": "SERVICE_UNAVAILABLE" } } }
      }
    }
  },
  "x-unicas-status": "discussion-draft",
  "x-unicas-canonical-api": "/packages/admin-protocol/openapi/admin-v2.openapi.json"
}
